<h2 mat-dialog-title>{{ data ? 'Editar' : 'Nuevo' }} Gasto Fijo</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="dialog-form">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="categoryId">
        <mat-option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Proveedor (Opcional)</mat-label>
      <mat-select formControlName="providerId">
        <mat-option [value]="null">Ninguno</mat-option>
        <mat-option *ngFor="let prov of providers" [value]="prov.id">{{prov.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Importe Inicial</mat-label>
      <span matTextPrefix>$&nbsp;</span>
      <input matInput type="text" formControlName="initialAmount" mask="separator.2" thousandSeparator="." decimalMarker="," class="text-right">
    </mat-form-field>

    <mat-checkbox formControlName="isRecurring" color="primary">Es Recurrente</mat-checkbox>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Observaciones</mat-label>
      <textarea matInput formControlName="observation"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="save()">Guardar</button>
</mat-dialog-actions>
