<h2 mat-dialog-title>{{ data ? 'Editar' : 'Nueva' }} Clase de Insumo</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="dialog-form" style="margin-top: 10px; display: flex; flex-direction: column; gap: 16px;">
    
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Tipo de Insumo</mat-label>
      <mat-select formControlName="consumableTypeId">
        <mat-option *ngFor="let t of types" [value]="t.id">{{t.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="save()">Guardar</button>
</mat-dialog-actions>
